.dark {
   
    background-color: rgb(32, 31, 31);
    h1 {
        color: white;
    }
    p {
        color: white;
    }
    .fa-github {
        color: white;
    }
    p > a {
        color: white;
    }

}