@use 'Variables';

.wave {
    width: 105%;
    margin: 0px auto 0px -3px;

}

.bg {
    background-color: Variables.$Primary-color;
}



.bg-gradient {
    background: linear-gradient(180deg, #1F4287 0%, rgba(48, 104, 216, 0.80) 100%);
}






